# Reading data from Diff Sources

In [3]:
import pandas as pd
from io import StringIO
Data = '{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'

In [4]:
StringIO(Data)

In [5]:
df = pd.read_json(StringIO(Data))

In [6]:
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [8]:
# Converting back to json
df.to_json()
# Here we got Oriented Json ie {0: 'James'} it will add index of the dataframe

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [11]:
df.to_json(orient="index")

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [9]:
df.to_json(orient="records")

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

In [12]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data"

In [13]:
#Reading CSV from url
df = pd.read_csv(url)

In [14]:
df

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [15]:
df = pd.read_csv(url,header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [16]:
# Convert back to csv
df.to_csv("wine.csv")

In [17]:
#Read data from html
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
df = pd.read_html(url)
df

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [18]:
# To install lxml
! pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp310-cp310-win_amd64.whl (3.8 MB)
Installing collected packages: lxml
Successfully installed lxml-5.3.0

WARNING: You are using pip version 21.2.3; however, version 24.2 is available.
You should consider upgrading via the 'C:\Projects\AIMLTutorial\MLDLTut\Scripts\python.exe -m pip install --upgrade pip' command.

In [19]:
#Read data from html
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
df = pd.read_html(url)
df

[                               Bank Name               City          State  \
 0  Republic First Bank dba Republic Bank       Philadelphia   Pennsylvania
 1                          Citizens Bank           Sac City           Iowa
 2               Heartland Tri-State Bank            Elkhart         Kansas
 3                    First Republic Bank      San Francisco     California
 4                         Signature Bank           New York       New York
 5                    Silicon Valley Bank        Santa Clara     California
 6                      Almena State Bank             Almena         Kansas
 7             First City Bank of Florida  Fort Walton Beach        Florida
 8                   The First State Bank      Barboursville  West Virginia
 9                     Ericson State Bank            Ericson       Nebraska

     Cert                 Aquiring Institution       Closing Date  \
 0  27332    Fulton Bank, National Association     April 26, 2024
 1   8758            Iowa Trust & Savings Bank   November 3, 2023
 2  25851               Dream First Bank, N.A.      July 28, 2023
 3  59017            JPMorgan Chase Bank, N.A.        May 1, 2023
 4  57053                  Flagstar Bank, N.A.     March 12, 2023
 5  24735  First Citizens Bank & Trust Company     March 10, 2023
 6  15426                          Equity Bank   October 23, 2020
 7  16748            United Fidelity Bank, fsb   October 16, 2020
 8  14361                       MVB Bank, Inc.      April 3, 2020
 9  18265           Farmers and Merchants Bank  February 14, 2020

    Fund  Sort ascending
 0                 10546
 1                 10545
 2                 10544
 3                 10543
 4                 10540
 5                 10539
 6                 10538
 7                 10537
 8                 10536
 9                 10535  ]

In [21]:
# Reading wiki
url="https://en.wikipedia.org/wiki/Mobile_country_code"
df = pd.read_html(url)
df

[   MCC  MNC Brand      Operator       Status Bands (MHz)  \
 0    1    1  TEST  Test network  Operational         any
 1    1    1  TEST  Test network  Operational         any
 2  999   99   NaN  Internal use  Operational         any
 3  999  999   NaN  Internal use  Operational         any

                               References and notes
 0                                              NaN
 1                                              NaN
 2  Internal use in private networks, no roaming[6]
 3  Internal use in private networks, no roaming[6]  ,
      Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns],
      MCC  MNC     Brand                    Operator           Status  \
 0    901    1       NaN                     Webbing          Unknown
 1    901    2       NaN              GlobalmatiX AG          Unknown
 2    901    3   Iridium                         NaN      Operational
 3    901    4       NaN    BBIX Singapore Pte. Ltd.          Unknown
 4    901    5       NaN        Thuraya RMSS Network      Operational
 ..   ...  ...       ...                         ...              ...
 98   901   99       NaN  Athalos Global Services BV      Operational
 99   902    1       NaN          MulteFire Alliance      Operational
 100  991    1       NaN      World's Global Telecom  Not operational
 101  991    2  5G Croco                 Orange S.A.  Not operational
 102  991    3       NaN                   Halys SAS  Not operational

     Bands (MHz)                               References and notes
 0          MVNO            Former ICO Satellite Management[51][52]
 1       Unknown  Former Sense Communications International; veh...
 2     Satellite                                                NaN
 3       Unknown                              Former Globalstar[54]
 4     Satellite                                                NaN
 ..          ...                                                ...
 98         MVNO                                               [52]
 99          LTE                                           [6][121]
 100     Unknown  temporarily assigned until 15 January 2021[100...
 101          5G  temporarily assigned until 6 August 2022[123][...
 102     Unknown  temporary assignment for trial until 5 April 2...

 [103 rows x 7 columns],
    MCC  MNC     Brand                 Operator       Status Bands (MHz)  \
 0  995    1  FonePlus  Sure (Diego Garcia) Ltd  Operational     GSM 900

                                 References and notes
 0  There appears to be no officially assigned MCC...  ,
                                vteTelecommunications  \
 0                                            History
 1                                           Pioneers
 2                                 Transmission media
 3                     Network topology and switching
 4                                       Multiplexing
 5                                           Concepts
 6                                   Types of network
 7                                   Notable networks
 8                                          Locations
 9  Telecommunication portal  Category  Outline  C...

                              vteTelecommunications.1
 0  Beacon Broadcasting Cable protection system Ca...
 1  Nasir Ahmed Edwin Howard Armstrong Mohamed M. ...
 2  Coaxial cable Fiber-optic communication optica...
 3  Bandwidth Links Nodes terminal Network switchi...
 4  Space-division Frequency-division Time-divisio...
 5  Communication protocol Computer network Data t...
 6  Cellular network Ethernet ISDN LAN Mobile NGN ...
 7  ARPANET BITNET CYCLADES FidoNet Internet Inter...
 8  Africa Americas North South Antarctica Asia Eu...
 9  Telecommunication portal  Category  Outline  C...  ]

In [22]:
pd.read_html(url,match="Country",header=0)

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns]]

In [24]:
pd.read_html(url,match="Country",header=0)[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [29]:
# Read Excel
pd.read_excel('data.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [30]:
# install openpyxl
! pip install openpyxl
#

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

WARNING: You are using pip version 21.2.3; however, version 24.2 is available.
You should consider upgrading via the 'C:\Projects\AIMLTutorial\MLDLTut\Scripts\python.exe -m pip install --upgrade pip' command.

In [32]:
df_excel = pd.read_excel('data.xlsx')

In [34]:
# Converting to pickle
df_excel.to_pickle('df_excel')

In [35]:
#Reading Pickle
df_excel = pd.read_pickle('df_excel')
df_excel

    Name  Age
0  Krish   32
1   Jack   34
2   John   31

In [38]:
pd.read_clipboard()

Empty DataFrame
Columns: [pd.read_excel('data.xlsx')]
Index: []